.container {
  width: 100%;
  height: auto;

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    height: 100%;
    justify-content: center;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);

    @media (max-width: 900px) {
      width: 40%;
    }

    @media (max-width: 768px) {
      width: 80%;
    }

    @media (max-width: 568px) {
      width: 100%;
    }

    .name {
      font-size: clamp(1rem, 1.3rem, 1.5rem);
    }

    .profession,
    .email {
      font-size: clamp(1rem, 1.1rem, 1.2rem);
      flex-wrap: wrap;
    }

    .profession {
      margin-bottom: 10px;
    }

    img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 20px;
    }
  }
}
