section {
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 50px;

  @media (max-width: 1024px) {
    padding: 40px 20px;
  }

  h2 {
    margin: 0 auto ;
    letter-spacing: 3px;
    font-size: 1.8rem;
    color: var(--color-darkgreen-text);
  }
}

.topContent {
  display: flex;
  align-items: center;
  column-gap: 30px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.left {
  display: flex;
  flex-direction: column;
  max-width: 50%;

  @media (max-width: 1024px) {
    max-width: 80%;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.title {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: left;
  color: var(--color-darkgreen-text);
  width: 100%;

  @media (max-width: 1024px) {
    font-size: 2rem;
  }

  .highlightGreen {
    color: var(--color-green-text);
  }
}

.right {
  display: flex;
  width: 660px;
  height: 465px;
  background-image: url("../../assets/main-picture2.webp");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    background-position: center center;
  }
}

.lowerContent {
  display: flex;
  flex-direction: column;
  row-gap: 50px;

  @media (max-width: 1024px) {
    row-gap: 30px;
  }
}